# Ignore .env files (containing sensitive information)
.env

# Ignore node_modules directory (if using Node.js)
node_modules/

# Ignore log files
*.log

# Ignore macOS specific files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore .idea directory (if using IntelliJ IDEA)
.idea/

# Ignore .cache directory
.cache/

# Ignore .env.local file (if it contains sensitive information)
.env.local

# Ignore any file named .env* (to cover multiple environment-specific files)
.env*

